<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="MagentoEse_B2bSharedCatalogSampleDataLight">
        <module name="Magento_B2b"/>
        <module name="Magento_Company"/>
        <module name="Magento_Customer"/>
        <module name="Magento_TargetRule"/>
        <module name="Magento_NegotiableQuote"/>
        <module name="Magento_RequisitionList"/>
        <module name="Magento_SharedCatalog"/>
        <module name="Magento_CompanyCredit"/>
        <module name="Magento_CatalogPermissions"/>
        <module name="MagentoEse_B2bAdminConfigurations"/>
        <module name="FireGento_FastSimpleImport"/>
        <module name="MagentoEse_B2BCompanySampleData"/>
        <module name="MagentoEse_B2BCatalogSampleDataLight"/>
        <module name="Magento_Swatches"/>
        <module name="Magento_SwatchesLayeredNavigation"/>
    </module>
</config>
